@use 'base';

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    image-rendering: pixelated;
    image-rendering: optimizespeed;
}

.container {
    border-radius: 10px;
    padding: 25px 25px;
    background: rgba(0, 0, 0, .75);
}

picture {
    img {
        width: 90px;
    }
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        color: inherit;
        display: block;
        padding: 2px;
        text-decoration: none;
    }
}

posts {
    ul {
        margin: 0;
        padding: 5px;
        list-style: none;
    }
}

post {
    img {
        width: 75px;
        height: 75px;
        text-align: left;
    }
    a {
	padding: 5px;
        color: inherit;
        text-align: right;
        float: right;
	text-decoration: none;
    text-align: justify;
    }
}

resources {
    ul {
	list-style-image: url('../assets/service.gif');
    }
    a {
    	color: inherit;
	text-decoration: none;
    }
}

about {
    ul {
        list-style-image: url('../assets/blobkitty.gif');
    } 
}

thread {
    p {
	color: inherit;
    }
}

footer {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        color: inherit;
        display: block;
        padding: 2px;
        text-decoration: none;
    }
}
